.login-container {
	background-image: url("../../assets/background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 100vh;
}

.login-container .d-flex {
	height: inherit;
}

.btn-login {
	font-size: 0.9rem;
	letter-spacing: 0.05rem;
	padding: 0.75rem 1rem;
}

.btn-facebook {
	color: white !important;
	background-color: #3b5998;
}
